/* Configure header content */
header{
	text-align: center;
}

/* Configure elements with ID */
#thanks{
	color: grey;
	font-style: italic;
	font-size: 125%;
}

#logo{
	text-align: center;
}

#subTitle{
	text-align: center;
}

/* Configure body content */
body{
	text-align: center;
	background-color: #01C3FE;
}

/* Configure footer content */
footer p{
	color: #A40505;
	font-style: bold;
}

/* Configure table in summary page */
table{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table, th, td{
	border: 2px solid black;
}

/* Configure disclaimer section */
#disclaimer{
	background-color: white;
	border: 1px solid black;
	margin: auto 30%;
	padding: 1%;
}

#disclaimer p{
	color: black;
}

/* Configure button elements */
.button{
	padding: 15px;
	background-color: orange;
	margin: 1%;
	border: 2px solid orange;
}

.button:hover{
	background-color: white;
}

.button:active{
	background-color: #01C3FE;
	color: red;
}