header{
	text-align: center;
}

#thanks{
	color: purple;
	font-style: italic;
}

#logo{
	text-align: center;
}

#subTitle{
	text-align: center;
}

body{
	text-align: center;
	background-color: #01C3FE;
}

footer p{
	color: #A40505;
	font-style: bold;
}

table{
	margin-left: auto;
	margin-right: auto;
}

table, th, td{
	border: 1px solid black;
}

.button{
	padding: 15px;
	background-color: orange;
	margin: 1%;
	border: 2px solid orange;
}

.button:hover{
	background-color: white;
}

.button:active{
	background-color: #01C3FE;
	color: red;
}